body {
    padding: 0;
    margin: 0;
    background: #dae1eb;
    background-image: url('images/background.jpg') ;
    background-size: cover;
}

.navbar {
    background: #3043a3;
}

.navbar-brand{
    font-weight: 700;
    color: #fff !important;
}

.nav-link, 
.navbar-brand {
    color: #fff ;
    cursor: pointer;
}

.nav-link {
    margin-right: 1em !important;
}

.nav-link:hover {
    color: #000000;
}

.navbar-collapse {
    justify-content: flex-end;
}

.navbar strong {
    padding-left: 10%;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    color: rgb(206, 222, 236);
}

.under {
    color: #000000;
    width: 80vw;
    padding: 10px;
    background-color: #d0d6e788;
}

#matrix {
    flex-grow: 2;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 15vw);
    grid-template-rows: repeat(4, 15vw);
    grid-gap: 5px;
    justify-content: center;
    border: 2px solid #0000006b;
    width: min-content;
    border-radius: 10px;
} 

.card-front{
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}

#infoblock {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: stretch;
    border: 2px solid #000000;
}

@media (orientation: landscape) {
    .under{
        color:#000000;
        width:40vw;
        padding:20px;
        background-color: #d0d6e788;
    }
    
    #matrix{
        flex-grow: 2;
        margin-left: auto;
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(4, 8vw);
        grid-template-rows: repeat(4, 8vw);
        grid-gap: 5px;
        justify-content: center;
        border: 2px solid #0000006b;
        width: min-content;
        border-radius: 10px;
    }
}
